    .tm {
        width: 600px;
        text-align: center;
    }
    
    .tl {
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .dc {
        width: 600px;
        height: 100px;
        color: black;
        text-align: center;
        border-radius: 10px;
    }
    
    .registro {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .titulo {
        text-align: center;
    }