colorsnavbar:rgb(20, 98, 172);
colorsDiv:rgb(58, 180, 228);
colorsButton:;
-webkit-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
-moz-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);