colorsnavbar:rgb(20, 98, 172);
colorsDiv:rgb(58, 180, 228);
colorsButton:;
-webkit-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
-moz-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);

/* colorFormLogin:#0040c1 */


/* colorNavbar: #0040c1;*/


/* colorsDiv1: #0f53db */


/* colorsDiv2: #043391; */


/* colorsDiv3: rgb(58, 180, 228);; */