.ttulo {
    position: relative;
    border: 3px solid aqua;
    text-align: center;
}

.p {
    opacity: 0;
}

.dia {
    position: absolute;
    color: black;
}

.dia input {
    color: black;
}

.moviento {
    position: relative;
    text-align: center;
}

.moviento input {
    color: black;
}