.ss {
    color: rgb(0, 0, 0);
}

* {
    text-align: center;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 700px;
    height: 600px;
    flex-direction: column;
    background-color: rgb(58, 180, 228);
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
    -moz-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
    box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
}