.titulo {
    background-color: #11fa09b0;
    text-align: center;
    color: black;
}

#limite {
    margin: 40px;
}

.op {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-select {
    justify-content: center;
    /* width: 170px; */
    height: auto;
}

.select {
    width: 50px;
}


/* <--------------------modal agregar-----------------> */

.registro_cuenta {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: #e5e5e5;
}

.rg_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: auto; */
}

.form_container {
    width: 1000px;
    margin: auto;
    padding: 30px;
    display: grid;
    /* border: #e05311 2px solid; */
    background-color: #20a8d8;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.logo_container {
    width: auto;
    height: 78px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border: 2px solid #000000; */
}

.logo_container img {
    height: 70px;
    width: auto;
    margin: 3px;
}

.title_container {
    text-align: center;
    width: 400px;
    height: 160px;
    align-items: center;
    margin: 0 auto;
    /* border: #000000 2px solid; */
}

.title {
    /* color: rgb(86, 113, 221); */
    color: #12172b;
    font-size: 2.5em;
}

.subtitle {
    color: #12395d;
}

.input_container {
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 25px;
    margin-bottom: 10px;
}

.icon {
    width: 20px;
    position: absolute;
    z-index: 100;
    left: 12px;
    bottom: 9px;
}

.input_label {
    font-size: 0.75rem;
    color: #000000;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 8px;
    outline: none;
    color: black;
    border: 1px solid #e5e5e5;
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
}

.input_field:hover {
    background-color: rgb(241, 240, 240);
}

.btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.sign-in_btn {
    width: 90%;
    height: 2.8em;
    border-radius: 3em;
    background-color: #156999;
    margin-left: 25px;
}

.select {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 8px;
    outline: none;
    color: black;
    border: 1px solid #e5e5e5;
}

.select:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
}

.select:hover {
    background-color: rgb(241, 240, 240);
}

.modal {
    height: 100vh;
}

.modal-body {
    display: flex;
}

.modal-content {
    width: 600px;
    left: -70px;
    background-color: #4771a3;
}

.modal-footer {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.image {
    width: auto;
    height: 25px;
    border-radius: 7px;
}