.fc-direction-ltr {
    /* left: 0; top: 0;   */
    width: calc(100% - 80px);
    position: absolute;
    height: 60%;
    /* background-color: rgb(255, 255, 255); */
    border: 2px solid #5b88a5;
    display: flex;
}

.fc .fc-toolbar.fc-header-toolbar {
    background: #5b88a5;
    height: 150px;
}

.fc .fc-daygrid-day-number {
    color: #f4f4f2;
    text-decoration: none;
}

.fc .fc-col-header-cell-cushion {
    color: #f4f4f2;
    text-decoration: none;
    text-transform: uppercase;
}

.fc .fc-daygrid-day-frame {
    width: 90%;
}

.fc .fc-toolbar-title {
    text-transform: capitalize;
    font-weight: bold;
}

.fc .fc-daygrid-day.fc-day-today {
    background: #243a69;
}