.agendaPago__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#agendaPago__btn {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.agendaPago__notas {
    display: flex;
    width: calc(100% - 80px);
    height: 40%;
}

.agendaPago__notas-title {
    display: flex;
    width: 100%;
    justify-items: center;
    text-align: center;
}

#agendaPago__modal-header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}