.principal__container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.principal__cont-1 {
    display: flex;
    width: auto;
}

.principal__cont-2 {
    display: flex;
    width: auto;
}

.div__cont {
    display: flex;
    margin: 30px;
    width: 400px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
    -moz-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
    box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.div__cont:nth-child(2) {
    background: #043391;
}