/* FORMULARIO */

.login__body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 100vw; */
}

.login__container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e5e5e5;
}

.login__form-container {
    background: #c8a283;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}


/* .login__form {
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
} */


/* .login__logo-container {
    margin-top: 50px;
    box-sizing: border-box;
    width: 80px;
    height: auto;
    filter: drop-shadow(0px 0.5px 0.5px #ffffff) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* .login__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
} */


/* .login__logo-container img {
    height: 200px;
    width: auto;
}
 */


/* .login__title-text {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #e05311;
    text-transform: uppercase;
}
 */


/* .login__subtitle-text {
    font-size: 20px;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
} */


/* .login__input-container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.login__form-icon {
    width: 20px;
    position: absolute;
    z-index: 100;
    left: 12px;
    bottom: 9px;
}

.login__form-input-label {
    font-size: 0.75rem;
    color: #ffffff;
    font-weight: 600;
}

.login__form-input-field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    color: black;
}

.login__form-input-field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
}

.login__form-input-field:hover {
    background-color: rgb(241, 240, 240);
}

.login__background-content {
    background: url('../../img/backgroundLogin.jpg');
    background-size: cover;
    width: 100%;
    position: sticky;
}

.login__form-footer {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.login__form-footer>a {
    text-decoration: none;
}

.login__btn-submit {
    padding: 10px;
    background: #e05311;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: none;
}

.login__btn-submit:hover {
    background: #e05311e1;
}

.login__form-register {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login__form-register p {
    font-size: 20px;
    line-height: 0;
} */