.form_container_wrapper {
  height: 100vh;
}

.form_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 17px;
  padding: 50px 50px 50px 50px;
  background-color: rgb(1, 37, 20);
  border-radius: 1px;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
}

.logo_container {
  box-sizing: border-box;
  width: 630px;
  height: 150px;
  /* background-color: rgb(20, 98, 172); */
  /* border: 1px solid #F7F7F8; */
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5px;
}

.logo_container img {
  height: 150px;
  width: auto;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
} 

.title {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: #e05311;
}

.subtitle {
  font-size: 16px;
  max-width: 90%;
  line-height: 1.1rem;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
} 

.input_container {
  width: 90%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 100;
  left: 12px;
  bottom: 9px;
} 

.input_label {
  font-size: 0.75rem;
  color: #ffffff;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  color:black;
  border: 1px solid #e5e5e5;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
} 

.input_field:hover {
  background-color: rgb(241, 240, 240);
}

.sign-in_btn{
  width: 90%;
  height: 3em;
  border-radius: 30em;
  background-color: #2898cc;
} 

.span{
  color:rgb(4, 4, 4);
}

/* button {
  border-radius: 30em;
  font-size: 15px;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #242424;
} */

/* button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #c2f5d2 0%, #ff7777 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
} */

/* button:hover::before {
  width: 30em;
}  */

.option{
  color:black;
}

.select{
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  color:black;
  border: 1px solid #e5e5e5;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
