.titulo {
    text-align: center;
}

.cm {
    color: #98040a;
    font-weight: 300;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
}

.tabla {
    width: 100%;
}

.formulario_proyeccion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
}