            .contenedorSaquito {
                width: 100%;
                height: 100%;
            }
            
            .tm {
                width: 300px;
                text-align: center;
            }
            
            .tl {
                color: rgb(0, 0, 0);
                text-align: center;
            }
            
            .dca {
                width: 100px;
            }
            
            .saquito {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px auto;
                height: 100%;
                flex-direction: column;
                background-color: #4d5357;
                -webkit-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
                -moz-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
                box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
            }
            
            .titulo {
                text-align: center;
                color: white;
            }
            
            .rt {
                text-align: center;
            }
            
            .txa {
                text-align: center;
                width: 140px;
            }
            
            .image {
                width: auto;
                height: 25px;
                border-radius: 7px;
            }
            
            .d {
                color: black;
            }
            
            .mb-3 {
                color: black;
            }
            
            .ms {
                height: 40px;
                width: auto;
            }
            
            .modal-content {
                width: 100px;
                background: #e9e9e9;
                text-align: center;
                border-color: white;
                border-width: 1px;
                border-style: solid;
            }
            
            .modal-body {
                width: 100%;
                height: auto;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
            }
            
            .tim {
                height: auto;
                width: 100%;
                text-align: center;
                color: white;
            }
            
            .img {
                width: auto;
                height: 65px;
                border-radius: 7px;
            }
            
            .date {
                width: 300px;
                height: auto;
                margin-bottom: 100px;
                float: right;
            }
            
            .tim2 {
                height: auto;
                width: 100%;
                text-align: center;
                color: black;
            }
            
            .modal-header {
                display: flex;
                width: 100%;
                align-items: center;
                flex-direction: column;
            }
            
            .logo {
                width: auto;
                height: 90px;
                border-radius: 7px;
            }
            
            .tabla {
                width: 100%;
            }
            
            .cm {
                color: #98040a;
                font-weight: 300;
                text-align: center;
                font-family: Arial;
                font-size: 14px;
            }
            
            .jm {
                font-family: Arial;
                font-size: 12px;
            }
            
            .input-group {
                color: black;
            }