.tm {
    width: 500px;
    text-align: center;
}

.tl {
    color: rgb(0, 0, 0);
    text-align: center;
}

.dc {
    width: 500px;
    height: 100px;
    color: black;
    text-align: center;
    border-radius: 10px;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 700px;
    height: 600px;
    flex-direction: column;
    background-color: rgb(58, 180, 228);
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
    -moz-box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
    box-shadow: 10px 10px 10px -8px rgba(191, 191, 191, 1);
}

.titulo {
    text-align: center;
}

.rt {
    text-align: center;
}

.tx {
    text-align: center;
    width: 120px;
}

.image {
    width: auto;
    height: 25px;
    border-radius: 7px;
}
.modal-content{
    background: linear-gradient(to right, #2c3e50, #4ca1af);

}
.a{
    background-color: rgb(172, 40, 40);

}
.m{
    background-color: green;
}