@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    color: whitesmoke;
}

.body__container {
    background: #133e59;
    display: flex;
    flex-direction: column;
}

.body__content {
    display: flex;
}